#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node
  scrape_interval: 15s
  metrics_path: /metrics
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
    - '{{ server }}:9100'
{% endfor %}
- job_name: etcd
  scrape_interval: 25s
  metrics_path: /metrics
  static_configs:
  - targets:
{% for server in groups[etcd] %}
    - '{{ server }}:2379'
{% endfor %}
{% endif %}
- job_name: postgresql-exporter
  scrape_interval: 25s
  metrics_path: /metrics
  static_configs:
  - targets:
{% for server in groups[postgresql] %}
    - '{{ server }}:9187'
{% endfor %}
{% endif %}